@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
}

header{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;

}

.header__logo{
    /* background: blue; */
}

.header__logo img{

}

.header__nav{
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
    
}

.header__nav li {
    /* background: yellow; */
    list-style: none;
}

.header__nav li a{
    font-family:"poppins-semibold";
    color:var(--color-1);
    text-decoration:none;
    font-size: 28px;
    display: flex;
}

.header__menu{
    /* background:pink; */
}

main{
    /* background: green; */
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;

}

.section__container{
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    margin-top: 111px;

}
.articule__jumping{
    width: 679px;
    /* background: violet; */
    display: flex;
    flex-direction: column;
}


.articule__jumping h1{
    color:var(--color-1);
    font-family:"poppins-semibold";
    font-size: 120px;
    line-height: 91.4%;


}

.articule__jumping p{
    margin-top: 26px;
    font-family:"poppins-semibold" ;
    /* display: flex; */
    font-size: 24px;
    color: var(--color-6);
    line-height:123% ;

}
.div__buttons {
    margin-top: 26px;
    /* background: rebeccapurple; */
    display: flex;
    gap: 38px;
}
.div__buttons a{
    width: 264px;
    height: 86px;
    border-radius: 14px;
    outline: 1px solid var(--color-1);
    background: transparent;
    font-family: "poppins-Thin";
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-1);
    text-decoration: none;
}

.div__buttons:hover a:hover{
    outline: none;
    backdrop-filter: blur(24px);

}



.article_reviews {
    /* background: red; */
    padding: 20px;
}
.div_reviews-container {
    width: 345px;
    height: 202px;
    background:var(--color-1);
    border-radius: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_reviews-cards {
    /* background: green; */
    /* padding: 20px; */
}

.div_reviews-profile {
    /* background: violet; */
    gap: 16px;
    /* padding: 20px; */
    display: flex;
    /* align-items: center; */
}
.div_reviews-profile img{
    /* background: orange; */
    /* padding: 20px; */
    object-fit: contain;
}

.div_reviews-cards p{
    font-family:"poppins-Medium";
    text-align: justify;
    margin-top: 12px;
    font-size: 18px;
    color: var(--color-7);
    width: 227px;
}

.div_reviews-rating {
    /* background: yellow; */
    /* padding: 20px; */
}
.div_reviews-rating h3{ 
    color: var(--color-2);
    font-family: "poppins-Medium";
    font-size: 28px;

}

.div_reviews-stars {
    /* background: olive; */
    /* padding: 20px; */
    /* margin-top: 5px; */
}

.div_reviews-stars img{
    /* background: turquoise; */
    padding: 0;
}



